<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                <div class="container">
                    <h1>Shopping list</h1>
                </div>
            </div>
        </div>


        <div class="col-xs-6">
            <ul>
                {{#each list}}
                <li>
                    <p>
                        {{this.id}}. {{this.item}}

                        <button data-itemid="{{this.id}}" type="button" class="btn btn-primary gotItem">Delete Item</button>
                    </p>
                </li>
                {{/each}}
            </ul>

        </div>

        {{!-- items already aquired --}}
        <div class="col-xs-6">
            {{!-- <h2>Aquired Items</h2>

            {{#each item}}
            <ul>
            </ul> --}}

        </div>

        {{!-- add an item to shopping list --}}
        <div class="col-xs-12">
            <h2>Add an item</h2>
            <form action="/create" method="POST">
                <div class="form-group">
                    <input type="text" name="item" placeholder="enter new item here"></input>
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary">Add to list</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>